# Ignore les fichiers de configuration locaux de PyCharm
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests/
.idea/shelf/
.idea/vcs.xml
.env
test/data_ingestion/reddit_crypto_data.json
.kafka_data
.idea