version: "3.8"

services:
  broker:
    image: apache/kafka:latest
    container_name: broker
    ports:
      - "9092:9092"  # Accès interne
      - "9093:9093"  # Accès EXTERNE pour votre script Python local
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://broker:9092,EXTERNAL://localhost:9093
      
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9094
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    volumes:
      - kafka_data:/var/lib/kafka/data

  spark-master:
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-spark:3.5.1
    container_name: spark-master
    environment:
      SPARK_MODE: master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./spark:/opt/spark/work-dir
      - ./models:/opt/spark/models
    depends_on:
      - broker

  spark-worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-spark:3.5.1
    container_name: spark-worker
    environment:
      SPARK_MODE: worker
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
    ports:
      - "8081:8081"
    volumes:
      - ./spark:/opt/spark/work-dir
      - ./models:/opt/spark/models
    depends_on:
      - spark-master
  
  sentiment-api:
    build:
      context: ./distilbert_fin
      dockerfile: Dockerfile
    container_name: sentiment-container
    image: sentiment-api:latest
    ports:
      - "8000:8000"

volumes:
  kafka_data:
